.pagination > li > a,
.pagination > li > span,
.pagination > li.active > a:focus,
.pagination > li > a:focus {
  background: #BC0B0B;
}

.pagination > li.active > a,
.pagination > li > a:hover,
.pagination > li.active > a:hover {
  background: #E80E0E;
  color: #FFF;
}

.pagination > li.disabled > a,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > a:focus {
	background: #877E7E;
	color: #FFF;
}